<script src="{{ 'accordion.js' | asset_url }}" type="text/javascript"></script>
{{ 'accordion.css' | asset_url | stylesheet_tag }}


<div id="change-content">This paragraph for js is working ??</div>

<button type="button" onclick="myFunction()">Click me</button>


<div class="tab-nav">
  <a>Description</a>
  <a>How to Use</a>
  <a>Ingrediants</a>
</div>
<div class="content">
  <p>
    1Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div


 

